{% extends 'Shop/basic.html' %}

{% block title %} HEllo world{% endblock %}

<!-- CARD SECTION --> 
<div class = "container row ">
    {% for product in products %}
    <div class="card container" style="width: 12rem;">
      <img src="/media/{{product.product_pic }}" style ="height:150px"class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h6>{{product.product_name}}</h6>
        <p class="card-text">{{product.product_brand}}</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  {% endfor %}
</div> 

<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
      var cart = {}
  }
  else {
      cart = JSON.parse(localStorage.getItem('cart'))
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      updateCart(cart);
  }
  $('.cart').click(function () {
      console.log('clicked');
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          cart[idstr] = cart[idstr] + 1;
      }
      else {
          cart[idstr] = 0;
      }
      updateCart(cart);
  })
  $('#popcart').popover();
  document.getElementById("popcart").setAttribute('data-content', '<h6>you have 15 item from 4 different products.<br>Click to check out the products.</h6>');
  
  
  function updateCart(cart) {
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus btn-sm'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus btn-sm'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }


  $('.cart').click(function () {
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          cart[idstr] = cart[idstr] + 1;
      } else {
          cart[idstr] = 1;
      }
      updateCart(cart);   // Calling the function

  });

  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function () {
      a = this.id.slice(7,);
      console.log(a)
      cart['pr' + a] = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a]);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function () {
      a = this.id.slice(6,);
      cart['pr' + a] = cart['pr' + a] + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });

</script>